.modal {
  background: none;
  height: 70vh;
  display: none;
  overflow-x: none;
}

.name {
}

.avatarContainer {
  display: flex;
  //   flex-direction: column;
  gap: 0.5em;
  color: white;
  align-items: center;
  font-size: 1.5rem;
}

.avatarIcon {
  font-size: 2.5rem;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  background: none;
  height: 100%;
  width: 100%;
  overflow-x: none;
}
