.chatCard {
  width: 90%;
  height: 35em;
  position: relative;
  border-radius: 2%;
  top: -24%;
  z-index: 10;
}

.currentChatDiv {
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-top: 15%;
  min-height: 70vh;
  height: 100%;
}

.messagesArea {
  display: flex;
  flex-direction: column;
}

.inputField {
  position: relative;

  justify-self: flex-end;
}

.messages {
  height: 90%;
}
