.chatCard {
  width: 90%;
  height: 50em;
  position: relative;
  border-radius: 2%;
}

.currentChatDiv {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.inputField {
  /* justify-self: flex-end; */
  /* align-items: flex-end; */
}

.messagesArea {
  height: 450px;
}
