@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.dashboardPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  background-color: #111418;
  text-align: center;
}

.addUserBox {
  color: #00b472;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  gap: 2%;
}

#unstyled-modal-title {
  margin-top: 0%;
}
.picCircle {
  width: 88px;
  border: 2px solid #00b472;
  height: 88px;
  min-height: 88px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 1%;
}

.profileImg {
  width: 100%;
}

.modalHeader {
  display: flex;
}

.appTitle {
  font-family: "Pacifico";
  color: #00b472;
  font-size: 4em;
  justify-self: flex-start;
  text-shadow: 2px 1px rgba(255, 255, 255, 0.719);
}

.searchInput {
  margin-top: 3%;
  width: 90%;
}

.chatsSectionContainer {
  width: 90%;
  height: 10%;
  margin-top: 1%;
  border-radius: 8%;
  display: flex;
  align-items: center;
  gap: 8%;
  justify-content: space-between;
  overflow: scroll;
}
